// @import './../../assets/modules/variables.scss';
.btn{          
    outline: none;
    border-radius:0px !important;    
    align-items: center;
    padding:8px 23px !important;
    //@include font-family;
    position: relative;
    font-size: inherit !important;
    &:focus,
    &:hover{
        box-shadow: none !important;
    }
  }
  // .primary{
  //   background-color:$primaryColor !important;
  //   border-color:$primaryColor;   
  //   color:$white !important;
  //   background-image:none;
  //   &:hover,
  //   &:focus,
  //   &:active,
  //   &:active:hover {
  //     background-color: $primaryColor !important;
  //     border-color:$primaryColor !important;        
  //   }
  //   &:active {
  //     &:focus {
  //       background-color:$primaryColor !important;        
  //       box-shadow: none;
  //     }
  //   }
  // }
  
  // .secondary{
  //   background-color:$secondryColor !important;
  //   border-color:$secondryColor;   
  //   color:$secondryColor !important;
  //   background-image:none;
  //   &:hover,
  //   &:focus,
  //   &:active,
  //   &:active:hover {
  //     background-color: $secondryColor !important;
  //     border-color: $secondryColor;      
  //   }
  //   &:active {
  //     &:focus {
  //       background-color:$secondryColor !important;      
        
  //     }
  //   }
  // }
  // .waring{
  //   background-color:$primaryColor !important;
  //   border-color:$primaryColor;   
  //   color:$primaryColor !important;
  //   background-image:none;
  //   &:hover,
  //   &:focus,
  //   &:active,
  //   &:active:hover {
  //     background-color: $primaryColor !important;
  //     border-color: $primaryColor;      
  //   }
  //   &:active {
  //     &:focus {
  //       background-color:$primaryColor !important;      
        
  //     }
  //   }

  // }

  .primary{
    background-color:$primary !important;
    border-color:$primary !important;   
    color:white !important;
    background-image:none;
    &:hover,
    &:focus,
    &:active,
    &:active:hover {
      background-color: $primary;
      border-color: $primary;      
    }
    &:active {
      &:focus {
        background-color:$primary;      
      }
    }
  }

  // .buttonGray{
  //   background-color:$lightprime !important;
  //   border-color:$primaryColor !important;   
  //   color:$primaryColor!important;
  //   background-image:none;
  //   &:hover,
  //   &:focus,
  //   &:active,
  //   &:active:hover {
  //     background-color: $lightprime!important;
  //     border-color: $primaryColor;      
  //   }
  //   &:active {
  //     &:focus {
  //       background-color:$lightprime !important;      
        
  //     }
  //   }
  // }

  // .link{
  //   background-color:transparent ;
  //   border-color:transparent;      
  //   background-image:none;
  //   &:hover,
  //   &:focus,
  //   &:active,
  //   &:active:hover {
  //     background-color: $primaryColor;
  //     border-color: $primaryColor;      
  //     color:$white !important;     
  //   }
  //   &:active {
  //     &:focus {
  //       background-color:$primaryColor; 
  //       color:$white !important;     
        
  //     }
  //   }
  // }
  // .lightBtn{
  //   background-color:$white !important;
  //   border-color:$white !important;       
  //   background-image:none;
    
  //   &:hover,
  //   &:focus,
  //   &:active,
  //   &:active:hover {
  //     background-color: $white ;
  //     border-color: $white;            
  //   }
  //   &:active {
  //     &:focus {
  //       background-color:$white ;         
  //     }
  //   }
  // }
  // .borderBtn{
  //   background-color:$white ;
  //   border-color: $secondryColor !important;      
  //   background-image:none;
  //   border-radius: 100px !important;
  //   padding: 1px 10px !important;
    
  // }



  // .disable{
  //   background-color:$white !important;
  //   border:1px solid $gray !important;
  //   color:$gray !important;
  //   background-image:none;
  //   border-radius: 8px;
  //   &:hover,
  //   &:focus,
  //   &:active,
  //   &:active:hover {
  //     background-color:$white ;
      
         
  //   }
  //   &:active {
  //     &:focus {
  //       background-color:$white ;
        
        
  //     }
  //   }
  // }

  @media (max-width:768px){ 
    .btn {padding:5px 15px !important;}
  }

