// styles for the global variables
@import './assets/modules/variables.scss';

// styles for the components
@import './jsx/Buttons/Buttons.scss';
@import './jsx/Heading/Heading.scss';
@import './jsx/Input/Input.scss';
@import './jsx/Text/Text.scss';
@import './jsx/Cards/Cards.scss';
@import './jsx/Image/Image.scss';
@import './jsx/Tables/Tables.scss';
